absl-py==0.7.1
ads==0.12.3
alt==0.0.4
altair==3.2.0
appdirs==1.4.3
arff==0.9
argh==0.26.2
asgiref==3.2.7
astor==0.8.0
astropy==4.0
astroquery==0.4
attrs==19.1.0
autograd==1.3
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
blis==0.4.1
boto==2.49.0
boto3==1.9.159
botocore==1.13.13
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
click==6.7
colorama==0.4.1
cycler==0.10.0
cymem==2.0.2
ddt==1.2.1
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
Django==3.0.5
docker-pycreds==0.4.0
docutils==0.14
el-core-news-sm==2.2.5
eleanor==1.0.3
entrypoints==0.3
fasttext-win==0.8.3
fbpca==1.0
future==0.17.1
gast==0.2.2
gensim==3.7.3
gitdb2==2.0.5
GitPython==2.1.13
google==2.0.2
gql==0.1.0
graphql-core==2.2.1
greek-stemmer==0.1.1
grpcio==1.21.1
gunicorn==20.0.4
h5py==2.9.0
helper-functions==2.0.11
html5lib==1.0.1
httpretty==0.8.10
hub==0.2.0.4
idna==2.8
imageio==2.5.0
imbalanced-learn==0.6.0.dev0
imblearn==0.0
importlib-metadata==0.23
imutils==0.5.3
ipykernel==5.1.2
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.14.0
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
k2plr==0.2.9
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.1.0
kiwisolver==1.1.0
lightkurve==1.9.0
lxml==4.3.4
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
missingno==0.4.2
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
multiprocess==0.70.9
murmurhash==1.0.2
natsort==6.0.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.1
notebook==6.0.1
numpy==1.16.3
nvidia-ml-py3==7.352.0
oktopus==0.1.2
opencv-python==4.1.0.25
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.0
pathos==0.2.5
pathtools==0.1.2
patsy==0.5.1
pdftables-api==1.1.0
photutils==0.7.2
pickleshare==0.7.5
Pillow==6.1.0
plac==1.1.3
pox==0.2.7
ppft==1.6.6.1
preshed==3.0.2
prometheus-client==0.7.1
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.8.0
psutil==5.6.3
pybind11==2.4.3
Pygments==2.4.2
PyJWT==1.7.1
pyparsing==2.4.0
PyPDF2==1.26.0
pyrsistent==0.15.4
python-dateutil==2.8.0
python-igraph==0.8.0
python-louvain==0.13
pytz==2019.1
PyWavelets==1.0.3
pywin32==225
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
Rx==1.6.1
s3transfer==0.2.0
scikit-image==0.15.0
scikit-learn==0.21.3
scikit-multilearn==0.2.0
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
sentry-sdk==0.10.2
shortuuid==0.5.0
six==1.12.0
sklearn==0.0
smart-open==1.8.3
smmap2==2.0.5
soupsieve==1.9.2
spacy==2.2.2
SQLAlchemy==1.3.8
sqlparse==0.3.1
srsly==0.2.0
subprocess32==3.5.4
tenacity==6.0.0
tensorboard==1.13.1
tensorflow==1.15.2
tensorflow-estimator==1.13.0
tensorflow-hub==0.7.0
termcolor==1.1.0
terminado==0.8.2
tess-point==0.4.0
testpath==0.4.2
texttable==1.6.2
thinc==7.3.1
tokenizer==1.4.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.35.0
traitlets==4.3.2
twilio==6.38.1
uncertainties==3.1.2
urllib3==1.25.3
vaneska==0.0.dev0
virtualenv==16.5.0
wandb==0.8.7
wasabi==0.4.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.1
wordcloud==1.5.0
xlrd==1.2.0
XlsxWriter==1.1.8
zipp==0.6.0
